@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;700&display=swap');

/* global */
*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}




body{
    overflow-x:hidden;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
    font-size: 18px;
}

h2 {
    text-align: center;
    font-weight: 200;
    text-transform: uppercase;
    margin-bottom: 15px;
    font-size: 21px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    background-image: linear-gradient(45deg, rgba(0,0,0, .4), rgba(0,0,0, .4)), linear-gradient(45deg, rgba(0,0,0, .4), rgba(0,0,0, .7));
    background-repeat: no-repeat;
    background-size:cover;
    z-index: -1;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


.container{
    padding: 20px 15px;
    color:#fff;
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
}

.btn {
    background-color: #000;
    color: #eee;
    padding: 10px;
    border-radius: 50px;
    border: none;
    text-transform: capitalize;
    text-align: center;
}

.card {
    border: 1px solid #000;
    padding: 15px;
    border-radius: 10px;
    background-color: rgba(0,0,0,0.3);
    backdrop-filter: blur(10px);
}

.location-alert {
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    max-width: 300px;
    width: 80%;
    margin: 0 auto;
    color: #eee;
    z-index: 5;
}

.location-alert p {
    margin-bottom: 10px;
}


/* current info */
.current-info {
    text-align: center;
}

.current-info .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    
}
.date-container{
    font-weight: 100;
    width: 250px;
}
.date-container__time{
    font-size: 45px;
}

.date-container__date,
.date-container__am-pm,
.time-zone{
        font-size: 20px;
}

.date-container__am-pm{
    margin-left: 5px;
}

.date-container__date{
    text-align: center;
}



 .time-zone{
    font-weight: 200;
}



.current-weather{
    display: flex;
    flex-direction: column;
    background: rgba(24,24,27, 0.6);
    padding: 12px;
    border-radius: 10px;
    margin: 10px 0;
    border: 1px solid #000;
}

.current-weather__item {
    display: flex;
    font-size: 16px;
}

.current-weather__item div:last-of-type{
    margin-left: auto;
}


.search-container {
    max-width: 300px;
    padding: 10px;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, .3);
    margin-bottom: 15px;
    order: -1;
}

.weather-form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.weather-form input {
    background-color: #eee;
    color: #000;
    border-radius: 50px;
    padding: 10px;
    border: none;
    margin-right: 5px;
}



.search-item {
    display: block;
}

.search-item.hidden {
    display: none;
}

.search-container .error {
    background-color: rgba(221, 55, 55, 0.3);
    padding: 5px;
    font-size: 14px;
    border-radius: 10px;
    text-transform: capitalize;
}


.search-container .error p:first-of-type  {
    margin-bottom: 10px;
}


/* future forecast*/

.future-forecast{
    background: rgba(24,24,27,0.5);
    padding: 25px;
    display: flex;
    color:white;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: auto;
}



.future-forecast__list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.future-forecast__item{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10px 10px;
    min-width: 240px;
}

.day{
    padding: 5px 15px;
    background: #3C3C44;
    border-radius: 50px;
    text-align: center;
}

.temp{
    font-weight: 100;
    font-size: 16px;
}



@media (min-width: 600px) {
    .current-info .container{
        flex-direction: row;
        align-items: flex-start;
    }

    .search-container{
        order: 1;
    }
}

@media  (min-width: 730px){
    
    body {
        font-size: 16px;
    }
    .future-forecast{
        justify-content: start;
    }

    .temp{
        font-size: 18px;
    }

    .date-container__time{
        font-size: 60px;
    }



    .date-container__date,
    .date-container__am-pm,
    .time-zone{
        font-size: 25px;
    }

    .current-weather{
        padding: 20px;
    }

    .current-weather__item{
        font-size: 18px;
    }

}



